root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[src/**.java]
indent_style = space
indent_size = 2

[public/templates/**.peb]
indent_style = space
indent_size = 2

[assets/js/**.js]
indent_style = space
indent_size = 2

[assets/css/**.css]
indent_style = space
indent_size = 2

[*.{yml,yaml,xml}]
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 2
