<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column is-half has-text-centered">
                <p class="has-text-grey">Softwaretechnik-I Projekt</p>
            </div>
            <div class="column is-half has-text-centered">
                <p class="has-text-grey">Alle Rechte vorbehalten.</p>
            </div>
        </div>
    </div>
</footer>