<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column is-third has-text-centered">
                <p class="has-text-grey">Softwaretechnik-I Projekt</p>
            </div>
            <div class="column is-third has-text-centered">
                #if(!$versionString || !$gitCommitHash)
                    <p class="has-text-grey">Development Build</p>
                #else
                    <p class="has-text-grey">
                        Version: <code>$versionString</code>, Commit: <a href="https://github.com/Pixelhash/swt-bibliothek/commit/$gitCommitHash"><code>$gitCommitHash</code></a>
                    </p>
                #end
            </div>
            <div class="column is-third has-text-centered">
                <p class="has-text-grey">Alle Rechte vorbehalten.</p>
            </div>
        </div>
    </div>
</footer>