<nav class="navbar is-dark">
    <div class="container">
        <div class="navbar-brand">
            <!--<a class="navbar-item is-size-5" href="$WebPath.getIndexSearch()">
                <span class="icon icon-nav">
                    <i class="fa fa-lg fa-book"></i>
                </span>
                <span>Bibliothek</span>
            </a>-->
            <div class="navbar-burger burger" data-target="#navbar">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navbar" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="$WebPath.getIndexSearch()">
                    Suche
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="#">
                        Suche
                    </a>
                    <div class="navbar-dropdown is-boxed">
                        <a class="navbar-item" href="#">
                            Bücher
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="#">
                            Kunden
                        </a>
                        <a class="navbar-item" href="#">
                            Kategorien
                        </a>
                        <a class="navbar-item" href="#">
                            Autoren
                        </a>
                        <a class="navbar-item" href="#">
                            Verläge
                        </a>
                    </div>
                </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control">
                            #if(!$session.attribute("user"))
                                <a class="button is-link" href="$WebPath.getLogin()">
                                <span class="icon">
                                <i class="fa fa-sign-in"></i>
                                </span>
                                    <span>Login</span>
                                </a>
                            #else
                                <form action="$WebPath.getLogout()" method="post">
                                    <button type="submit" class="button is-link">
                                    <span class="icon">
                                    <i class="fa fa-sign-out"></i>
                                    </span>
                                        <span>Logout</span>
                                    </button>
                                    <input type="hidden" name="csrf_token" value="$session.attribute("csrf_token")">
                                </form>
                            #end
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>