#parse('/velocity/layouts/layout.vm')
#@mainLayout()
<section class="hero is-light is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-3">
                <span class="icon icon-nav has-text-grey-dark">
                    <i class="fa fa-exclamation-triangle"></i>
                </span>
        <span>$msg.get("404_TITLE")</span>
      </h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container has-text-centered">
    <h3 class="subtitle is-5">$msg.get("404_SUBTITLE")</h3>
  </div>
</section>
#end
