<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fehler | Bibliothek</title>
    <meta name="description" content="Bibliothek">
    <meta name="author" content="SWT-1">
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function(){
        window.cookieconsent.initialise({
          "palette": {
            "popup": {
              "background": "#edeff5",
              "text": "#838391"
            },
            "button": {
              "background": "#4b81e8"
            }
          },
          "theme": "classic",
          "content": {
            "message": "Um unsere Webseite für Sie optimal zu gestalten verwenden wir Cookies.",
            "dismiss": "Verstanden!",
            "link": "Mehr erfahren"
          }
        })});
    </script>
</head>
<body>
<section class="hero is-light is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-3">
                <span class="icon icon-nav has-text-grey-dark">
                    <i class="fa fa-exclamation-triangle"></i>
                </span>
                <span>Interner Server Error</span>
            </h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="container has-text-centered">
        <h3 class="subtitle is-5">Anscheinend gibt es ein Problem mit der Datenbank. Bitte die Seite neuladen, anderenfalls den Systemadministrator kontaktieren!</h3>
    </div>
</section>
<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column is-half has-text-centered">
                <p class="has-text-grey">Softwaretechnik-I Projekt</p>
            </div>
            <div class="column is-half has-text-centered">
                <p class="has-text-grey">Alle Rechte vorbehalten.</p>
            </div>
        </div>
    </div>
</footer><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/app.js"></script>
</body>
</html>