#parse('/velocity/layout.vm')
#@mainLayout()
<section class="hero is-light is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-3">
                <span class="icon icon-nav has-text-grey-dark">
                    <i class="fa fa-search"></i>
                </span>
                <span>Suche</span>
            </h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="container has-text-centered">
        <h3 class="subtitle is-5">Gebe einen Suchbegriff ein, um passende Bücher zu finden.</h3>
        <div class="columns">
            <div class="column is-3"></div>
            <div class="column is-6">
                <form action="#" method="post">
                    <div class="field">
                        <div class="control">
                            <input class="input is-medium" type="text" placeholder="Finde ein Buch">
                        </div>
                    </div>
                    <div class="field">
                        <p class="control text-center">
                            <button class="button is-medium is-info">
                                Suche
                            </button>
                        </p>
                    </div>
                </form>
            </div>
            <div class="column is-3"></div>
        </div>
    </div>
</section>
#end