#parse('/velocity/layouts/layout.vm')
#@mainLayout()
<section class="hero is-light is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-3">
                <span class="icon icon-nav has-text-grey-dark">
                    <i class="fa fa-search"></i>
                </span>
                <span>$msg.get("INDEX_TITLE")</span>
            </h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="container has-text-centered">
        <h3 class="subtitle is-5">$msg.get("INDEX_SUBTITLE")</h3>
        <div class="columns">
            <div class="column is-3"></div>
            <div class="column is-6">
                #if($!{error})
                    <div class="notification is-danger">
                        $!errorMsg
                    </div>
                #end
                <form action="$WebPath.getBookSearch()" method="post">
                    <div class="field">
                        <div class="control">
                            <input class="input is-medium" type="text" name="query" placeholder="$msg.get("INDEX_INPUT_PLACEHOLDER")" autofocus>
                        </div>
                    </div>
                    <div class="field">
                        <p class="control text-center">
                            <button class="button is-medium is-info">
                                $msg.get("INDEX_BTN_TEXT")
                            </button>
                        </p>
                    </div>
                    <input type="hidden" name="csrf_token" value="$session.attribute("csrf_token")">
                </form>
            </div>
            <div class="column is-3"></div>
        </div>
    </div>
</section>
#end